// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.copyright {
  content: '';
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 27px;
  height: 33px;
  background: url(../../img/h4r.svg) no-repeat black;
  background-size: 100%;
  box-shadow: 0 0 10px 10px black;
}
