// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.appHeader {
  position: relative;
  height: .75rem;
  overflow: visible;
  border-bottom: 1px dashed $color-mid-grey;

  font-family: $header-font-stack;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;

  &__logo {
    display: inline-block;
    padding: 0 1rem;
    background: $color-background;
    color: $color-mid-grey;
  }

  .db {
    display: inline-block;
    transition: transform 1s ease-out;

    &:hover {
      transform: rotate(1800deg);
    }

    span {
      &:nth-of-type(1) {
        color: $color-red;
      }

      &:nth-of-type(2) {
        color: $color-white;
      }
    }
  }

  &__copyright {
    content: '';
    display: block;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 27px;
    height: 33px;
    background: url(../../img/h4r.svg) no-repeat black;
    background-size: 100%;
    box-shadow: 0 0 10px 10px black;
  }
}
