// -----------------------------------------------------------------------------
// This file contains all styles related to general layout site/application.
// -----------------------------------------------------------------------------


body {
  padding: 1rem 1.5rem;
  text-align: center;
}

#app {
  max-width: 960px;
  margin: 1.5rem auto 0;

}
