// -----------------------------------------------------------------------------
// This file contains all styles related to general layout site/application.
// -----------------------------------------------------------------------------


body {
  padding: 1rem 1.5rem;
  text-align: center;
}

#app {
  margin-top: 1.5rem;
}
